@import "../variables.css";

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 20px 0 0 0;
  flex-wrap: wrap;
}

.pagination-btn {
  background-color: #d8900b;
  color: var(--button-bg);
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: var(--border-radius-md);
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination-btn span {
  font-size: var(--font-size-md);
  line-height: 1;
}

.pagination-btn:disabled {
  background-color: #ccc;
}

.pagination-btn.active {
  background-color: var(--primary-color);
  font-weight: bold;
}

.pagination-btn:hover {
  background-color: var(--primary-color);
  color: var(--text-color);
}

span {
  font-weight: var(--font-weight-bold);
}


/* Ajustes para telas pequenas */
@media (max-width: 768px) {
  .pagination {
    gap: 5px;
  }

  .pagination-btn {
    padding: 6px 12px;
    font-size: var(--font-size-sm);
  }
}

@media (max-width: 480px) {
  .pagination-btn {
    padding: 4px 8px;
    font-size: 12px;
  }

  .pagination-btn.active {
    font-size: 14px;
    padding: 6px 10px;
  }


  .pagination {
    overflow-x: auto;
    white-space: nowrap;
  }

  .pagination-btn {
    display: inline-block;
  }
}