@import "../variables.css";

.container-version {
  margin-top: 25px;
  color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.name-version {
  font-weight: 700;
  text-transform: uppercase;
}

.box-pokemons {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  gap: 10px;
}

.pokemons-version {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 50%;
  background-color: var(--text-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.pokemons-version img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.pokemons-version:hover {
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .container-version {
    flex-direction: column;
  }

  .pokemons-version {
    width: 120px;
    height: 120px;
  }
}

@media (max-width: 480px) {
  .pokemons-version {
    width: 100px;
    height: 100px;
  }
}
