@import "../variables.css";

.pokemon-habilities {
  color: #5e5e5ecc;
  font-weight: var(--font-weight-bold);
  margin-top: 20px;
  font-size: var(--font-size-lg);
}

@media (max-width: 768px) {
  .pokemon-habilities {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .pokemon-habilities {
    font-size: var(--font-size-md);
  }
}
