@import "../variables.css";

.types-pokemon {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.type {
  padding: 5px 10px;
  font-size: var(--font-size-sm);
  text-align: center;
  color: var(--text-color);
  background-color: #f1d688;
  border-radius: var(--font-size-md);
  transition: background-color 0.3s ease;
}

.type:hover {
  background-color: #c3a865;
}

@media (max-width: 768px) {
  .type {
    font-size: var(--font-size-xs);
    padding: 4px 8px;
  }
}

@media (max-width: 480px) {
  .type {
    font-size: 10px;
    padding: 3px 6px;
  }
}
