@import "../variables.css";

.container-pokemon-list {
  padding: 25px;
  display: flex;
  justify-content: center;
}

.pokemon-list {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}

.pokemon-list > * {
  flex: 1 1 200px;
  min-width: 250px;
  max-width: 290px;
}

@media (max-width: 600px) {
  .pokemon-list > * {
    flex: 1 1 100%;
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  .pokemon-list > * {
    flex: 1 1 calc(50% - 20px);
  }
}

@media (min-width: 901px) {
  .pokemon-list > * {
    flex: 1 1 calc(33.33% - 20px);
  }
}
