@import "../variables.css";

.container-search {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-search {
    width: 40%;
    height: 45px;
    border-radius: var(--border-radius-lx);
    padding: 10px 20px;
    
    border: 2px solid #ccc;
    background-color: #f9f9f9;
    font-size: 16px;
    color: #333;
    
    box-shadow: 0 2px 5px var(--box-shadow-black);
    transition: all 0.3s ease;
}

.input-search:hover {
    border-color: var(--primary-color);
    background-color: #fff;
}

.input-search:focus {
    outline: none;
    border-color: var(--primary-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.input-search::placeholder {
    color: #999;
    font-size: 14px;
}


@media (max-width: 600px) {
    .input-search {
        width: 80%;
    }
}
